* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: red;
    text-align: center;
    padding: 7px;
}


.left {
    background-color: yellow;
    text-align: left;
    padding: 5px;
    text-align: center;
    width: 20%;
    align-content: center;
}




.right {
    background-color: rgb(60, 255, 0);
    text-align: right;
    padding: 5px;
    width: 20%;
    text-align: center;
    align-content: center;
}


main {
    background-color: white;
    text-align: center;
    display: flex;
    line-height: 75vh;
    justify-content: space-between;
    height: 83.6vh;
}




footer {
    background-color: purple;
    text-align: center;
    padding: 5px;
}


@media (min-width: 768px) and (max-width: 1023px) {
    main {
        background-color: blue;
    }
}


@media(max-width: 767px) {
    main {
        flex-direction: column;
        height: auto;
    }

    .left {
        width: 100%;
        padding: 10px 0;
    }


    .right {
        width: 100%;
        padding: 10px 0;
    }
}